#contenedor{
	margin:0px auto;
	position:relative;
	width:800px;
	min-height: 600px;
}
#cajaformulario{
	position: absolute;
	left: 50%;
	margin-left: -400px;
	padding:30px;
	border:1px solid #00F;
}

#zonadatos{
	position: absolute;
	left: 50%;
	margin-left: -52px;
	width:410px;
	padding:20px;
	border:1px solid  #F00;
}

#clave, #texto, #fecha{
	width:200px;
}

#cajadatos div{
	padding:5px;
	border-bottom:1px solid #999999;
}