/* Inicio del reset CSS */
* {margin:0; padding:0; font-size:100%; font-weight:normal;}
table {border-collapse:collapse; border-spacing:0;}
img, fieldset {border:0;}
ol, ul {padding-left:1.4em;}
ol {list-style:decimal;}
ul {list-style:square;}
/* Fin del reset CSS */

body {
	font-size: 0.625em;
}

body > header hgroup h1 {
	font: normal 2.4em Verdana, Geneva, sans-serif;
	color: #fff;
	background: -webkit-linear-gradient(top, #00f, #0cf);
	background: -o-linear-gradient(top, #00f, #0cf);
	width: 40%;
	text-align: center;
	border-radius: 10px;
	margin: 15px auto;
	padding: 15px;
	box-shadow: #00f 5px 5px 10px;
	text-shadow: #fff 2px 2px 5px;
}

body > header hgroup h1 + h2 {
	font: bold 1.7em Verdana, Geneva, sans-serif;
	padding: 5px 0px 5px 0px;
}

body > section {
	position: relative;
	overflow: hidden;
}

body > section article {
	width: 91%;
	margin: 10px auto 0 auto;
	border-top: 1px dashed #999;
	padding-top: 15px;
}

body > section article figure {
	float: left;
	margin: 0px 14px 20px 14px;
}

body > section article figure img {
	padding: 4px;
	background-color: #999;
	border-radius: 20px;
	width: 150px;
	height: 150px;
	transition: transform 0.5s ease-in-out 0.1s;
	box-shadow: #999 5px 5px 10px;
}

body > section article figure img:hover {
	transform: scale(1.2);
}

body > section article figure img + figcaption {
	text-align: center;
	font: normal 1.1em Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

body > footer {
	overflow: hidden;
	padding-top: 100px;
}

body > footer small {
	float: left;
	margin-right: 5px;
}

body > footer small, address {
	font: normal 1.6em Georgia, "Times New Roman", Times, serif;
	color: #666;
	margin: 10px 8px;
}