#contenedor {
	width:734px;
	min-height: 400px;
	margin:0px auto;
	margin-top: 50px;
	position: relative;
}

#zonaformulario {
	position: absolute;
	left: 50%;
	margin-left: -366px;
	padding:20px;
	border:1px solid #039;
}

#zonadatos {
	position: absolute;
	left: 50%;
	margin-left: 24px;
	width:300px;
	padding:20px;
	border:1px solid #F00;
}

#clave, #valor {
	width:180px;
}

#zonadatos div {
	padding:15px;
	border-bottom:3px solid #00F;
}