* {
	margin: 0px;
	padding: 0px;
}

img {
	width: 150px;
}

#zona-destino {
	float: left;
	width: 500px;
	height: 300px;
	margin: 50px;
	border: 1px solid #00f;
	text-align: center;
	line-height: 300px;
}

#zona-destino img {
	display: block;
	margin: 75px auto 0px auto; 
}

#caja-imagenes {
	float: left;
	margin-top: 50px;
	margin-left: 50px;
}

#caja-imagenes article {
	padding: 20px 10px;
	width: 200px;
	border: 1px solid #f00;
	text-align: center;
}

#caja-imagenes figure img {
	margin-bottom: 20px;
}


#caja-imagenes figure:last-child img {
	margin-bottom: 0px;
}