#contenido {
	float: left;
	padding: 30px;
	border: 2px dotted #f00;
}

#url {
	color: #00f;
	cursor: pointer;
}

#zona-datos {
	float: left;
	width: 600px;
	border: 2px dotted #00f;
	padding: 30px;
	margin-left: 30px;
}