#zona-formulario {
	margin-left: 60px;
	padding: 20px;
	border: none;
}

#zona-formulario div {
	margin-top: 10px;
}

#zona-datos {
	width: 400px;
	margin: 20px 20px;
	padding: 20px;
	border: 2px dotted #f00;
}

#zona-datos #iframe {
	border: none;
}

#zona-recepcion {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -50px;
	width: 400px;
	padding: 20px;
	border: 2px dotted #00f;
	height: 284px;
	max-height: 284px;
	font-weight: bold;
	overflow: auto;
}