@charset "utf-8";

/*Selector de Id - Da estilo a un único elemento con el Id correspondiente*/
#cabeceraweb {
	background-color: #00F;
}

/*Selector de Id - Da estilo a un único elemento con el Id correspondiente*/
#barraPrincipal {
	background-color: #F00;
}

/*Selector de Id - Da estilo a un único elemento con el Id correspondiente*/
#barraLateral {
	background-color: #0F0;
	float: left;
	height: 1040px;
}

/*Selector de Id - Da estilo a un único elemento con el Id correspondiente*/
#contenidoPrincipal {
	background-color: #606;
	margin-left: 210px;
	padding: 15px 15px;
}

/*Selector de Id - Da estilo a un único elemento con el Id correspondiente*/
#piePrincipal {
	clear: both;
	background-color: #FF0;
	margin-top: 30px;
}

/*Selector de etiqueta - Da estilo a todos las etiquetas de la página*/
li {
	background-color: #FF0;
	list-style: none;
	display: inline;
}