#reproductor {
	width: 720px;
	margin: 20px auto;
	background: #fc3;
	padding: 5px;
	border: 2px solid #f60;
	border-radius: 8px;
}

#reproductor > nav {
	margin: 5px 0px;
}

#reproductor > nav #botones {
	float: left;
	width: 100px;
	height: 20px;
}

#reproductor > nav #barra {
	background: #fff;
	width: 600px;
	height: 16px;
	border: 1px solid #666;
	padding: 3px;
	margin-left: 80px;
}

#reproductor > nav #barra #progreso {
	position: absolute;
	width: 0px;
	height: 16px;
	background: rgba(0,0,150,2);
}