#contenedor {
	width: 900px;
	height: auto;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
}

#zona-formulario {
	float: left;
	padding: 30px;
	border: 2px solid #f00;
}

#zona-datos {
	float: left;
	width: 400px;
	margin-left: 20px;
	padding: 20px;
	border: 2px dashed #00f;
}

.directorio {
	color: #0000ff;
	font-weight: bold;
	cursor: pointer;
}